<html>
	<head>
		<title>[%pagetitle%]</title>  
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" href="[%rssfeedurl%]">
		
		<script src="http://myword.io/templates/scripts.js"></script>
		
		<!-- Facebook metadata -->
			<meta property="og:url" content="[%ogurl%]" />
			<meta property="og:type" content="website" />
			<meta property="og:title" content="[%ogtitle%]" />
			<meta property="og:description" content="[%ogdescription%]" />
			<meta property="og:image" content="[%ogimage%]" />
			<meta property="og:site_name" content="myword.io" />
		<!-- Twitter metadata -->
			<meta name="twitter:card" content="summary_large_image">
			<meta name="twitter:site" content="[%twscreenname%]">
			<meta name="twitter:title" content="[%twtitle%]">
			<meta name="twitter:description" content="[%twdescription%]">
			<meta name="twitter:image:src" content="[%twimage%]">
		
		</head>
	<body>
		<div class="snap-drawers">
			<div class="snap-drawer snap-drawer-left" id="idSnapDrawerDiv">
				<div class="divLeftDrawer">
					<div class="divLinksToPosts" id="idLinksToPosts">
						</div>
					</div>
				</div>
			<div class="snap-drawer snap-drawer-right"></div>
			</div>
		<div id="idSnapContent" class="snap-content">
			<div class="divVersionNumber" id="idVersionNumber">
				</div>
			<div class="divMywordPage h-entry">
				<div class="divPageTop" id="idPageTop">
					<div class="divBackgroundImage" id="idBackgroundImage">
						</div>
					<div class="divTextBackground">
						</div>
					<div class="divPageTopText" id="idPageTopText">
						<div class="divPageByline h-card u-author" id="idPageByline">
							by <a class="u-url p-name" ref="[%authorwebsite%]">[%authorname%]</a> 
							<a class="u-url" href="https://twitter.com/[%twscreenname%]">[%twscreenname%]</a>
							</div>
						<div class="divPageTitle p-name" id="idPageTitle">
							[%ogtitle%]
							</div>
						<div class="divPageDescription p-summary" id="idPageDescription">
							[%ogdescription%]
							</div>
						</div>
					</div>
				<div class="divPageBody">
					<div class="divEssayText e-content" id="idEssayText">
						[%renderedtext%]
						</div>
					<a class="u-url" href="[%ogurl%]">#</a>
					<time class="dt-published" datetime="[%when%]"></time>
					<div class="divComments">   
						[%disquscomments%]
						</div>
					<div class="divPageFooter" id="idPageFooter">
						</div>
					</div>
				</div>
			</div>
		<script>
			var pagetable = [%pagetableInJson%]; 
			$(document).ready (function () {
				startup ();
				});
			</script>
		</body>
	</html>
