body {
	font-family: "Open Sans";
	font-size: 18px;
	background-color: whitesmoke;
	}
.divBackgroundImage {
	position: absolute;
	width: 100%;
	height: 400px;
	margin-left: 0;
	margin-top: 0;
	border-top: 1px solid silver;
	z-index: 0;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	background-color: black;
	}
.divTextBackground {
	position: absolute;
	top: 120;
	left: 15%;
	width: 70%;
	height: 170px;
	z-index: 10;
	background-color: black;
	opacity: 0.25;
	}
.divPageTopText {
	position: absolute;
	top: 120;
	left: 15%;
	width: 70%;
	height: 200px;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	z-index: 20;
	}
.divPageTopText a {
	color: white;
	}
.divPageTitle {
	font-size: 50px;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	letter-spacing: -0.04em;
	line-height: 1.1;
	margin-bottom: 8px;
	color: white;
	text-shadow: 1px 1px black;
	}
.divPageByline {
	font-size: 18px;
	color: white;
	margin-bottom: .5em;
	text-shadow: 1px 1px black;
	}
.divPageDescription {
	font-size: 24px;
	color: white;
	margin-top: .5em;
	height: 3em;
	line-height: 120%;
	text-shadow: 1px 1px black;
	}
.divPageBody {
	position: absolute;
	top: 400;
	left: 20%;
	width: 60%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	}
.divEssayText {
	font-family: "Lora", "Georgia", Serif;
	font-size: 22px;
	line-height: 145%;
	margin-bottom: 30px;
	}
.divEssayText p {
	line-height: 145%;
	margin-bottom: 1em;
	}
.divEssayText li {
	line-height: 145%;
	}
.divSubhead {
	font-family: "Open Sans";
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: .15em;
	}
.divMarkdownText h4 {
	font-size: 24px;
	margin-top: 1.25em;
	margin-bottom: .75em;
	}
.divVersionNumber {
	position: absolute;
	top: 0;
	right:0;
	font-size: 13px;
	padding: 5px;
	color: white;
	z-index: 20;
	}
.divVersionNumber a {
	color: white;
	}
.divPageFooter {
	font-size: 16px;
	width: 100%;
	margin-bottom: 400px;
	padding-bottom: 3em;
	}
.divPageFooter a {
	cursor: pointer;
	color: black;
	}
.divPageFooter hr {
	border-top: 1px solid silver;
	margin: 0;
	margin-bottom: 5px;
	}
.divPageFooter p {
	}
.spFooterRssIcon {
	font-size: .9em; 
	color: orange; 
	font-weight: bold;
	margin-left: 8px; 
	margin-top: 2px;
	}
.divComments {
	border: 1px solid silver;
	padding: 8px;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	}
.emoji {
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-bottom: 0;
	}

 #idSnapOpenIcon {
	background: url(http://fargo.io/cms/snap/open.png) center center no-repeat;
	display: block;
	width: 44px;
	height: 44px;
	cursor: pointer;
	
	background-color: black;
	float: left;
	}
.snap-content {
	background-color: whitesmoke;
	}
.snap-drawers {
	background: gainsboro;
	width: 400px;
	}
.snap-drawer {
	background: gainsboro;
	color: #eee;
	width: 400px;
	}
.divLeftDrawer {
	margin-top: 30px;
	width: 80%;
	margin-left: 10%;
	}
.divLeftDrawer h4 {
	color: black;
	font-size: 18px;
	font-weight: bold;
	}
.divLinksToPosts {
	font-size: 18px;
	line-height: 1.5em;
	}
.divLinksToPosts a {
	color: black;
	cursor: pointer;
	}
.divLinksToPosts ul {
	margin: 0;
	list-style-type: none;
	}
.divLinksToPosts li {
	margin-bottom: 10px;
	}

.divFooterText {
	border-top: 1px solid silver;
	text-align: center;
	}
.divFooterText p {
	margin-top: 5px;
	}


code {
	font-size: .9em;
	background-color: inherit;
	color: inherit;
	}
h1, h2, h3, h4 {
	font-family: "Open Sans";
	}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body {
		background-color: white;
		}
	.divBackgroundImage {
		height: 300px;
		}
	.divPageTopText {
		top: 50;
		width: 80%;
		left: 10%;
		}
	.divTextBackground {
		top: 100;
		width: 80%;
		left: 10%;
		height: 140px;
		}
	.divPageTitle {
		font-size: 44px;
		}
	.divPageDescription {
		font-size: 18px;
		line-height: 120%;
		}
	.divPageBody {
		top: 300;
		width: 90%; 
		left: 5%;
		margin-top: 20px;
		}
	.divEssayText {
		font-size: 18px;
		}
	.divVersionNumber {
		position: absolute;
		padding: 2px;
		}
	}
